.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid #63dbfd;
	border-radius: 10px;
	height: 300px;
	width: 500px;
}

.controlMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid #63dbfd;
	border-radius: 10px;
	height: 100px;
	width: 450px;
}

.display {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 135px;
	width: 450px;
	background-color: #63dbfd;
	border-radius: 20px;;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 70px;
}

.indicationInRed {
	color: red;
}